:root {
    --primary-color: #bdb9b9; 
    --secondary-color: #45504E;
    --tertiary-color: #75645C;
  }


/* HERO STYLING */
  section.hero.is-primary.portfolio {
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-position: center;  
  } 

  .typing-demo {
    width: 100%;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 2em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }


/* DESIGNS STYLING */


.designImg:hover {
    opacity: 0.5;
} 





/* CONTACT US/FOOTER STYLING */

.contact i:hover {
    padding-bottom: 5px;
    color: var(--secondary-color);
}